.chat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 80%;
}
.error-chat-msg {
  color: var(--yellow);
  margin: 3rem auto 0;
  width: fit-content;
}
.convContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  background: var(--light-blue);
  box-shadow: 0px 0px 8px rgb(7, 7, 7);
}
.no-open-chat-msg {
  color: var(--yellow);
  font-size: 3rem;
  width: fit-content;
  margin: 4rem auto;
}
.friendsName {
  display: flex;
  justify-content: center;
  width: 90%;
  font-size: 2rem;
  margin: auto;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--blue);
}
.conv {
  height: 100%;
  font-size: 1.25rem;
  overflow-y: scroll;
}
.conv::-webkit-scrollbar {
  display: none;
}

.conv {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.conv ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.my-message,
.friend-message {
  text-align: start;
  overflow-wrap: break-word;
  list-style-type: none;
  width: fit-content;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  max-width: 98%;
}
.my-message {
  background: var(--blue);
  margin-left: auto;
}
.friend-message {
  background: var(--yellow);
}
.group-msg-sender {
  color: var(--blue);
  font-size: 1rem;
}
.convContainer form {
  display: flex;
  justify-content: space-between;
}
.convContainer textarea {
  width: 100%;
  max-height: 12rem;
  field-sizing: content;
  resize: none;
  font-size: 1.25rem;
  margin-right: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  background: var(--white);
  padding: 0.5rem;
  color: var(--blue);
}
.convContainer button {
  background: none;
  border: none;
  cursor: pointer;
}
.convContainer svg {
  height: 2rem;
  fill: var(--yellow);
  flex-shrink: 0;
  padding: 0;
}

.convContainer textarea:focus-visible {
  outline: 0.125rem solid var(--yellow);
}

@media (max-width: 1400px) and (min-width: 1200px) {
  .chat {
    width: 75%;
  }
}

@media (max-width: 1200px) {
  .chat {
    width: 100%;
  }
  .conv {
    font-size: 1.25rem;
  }
}
@media (max-width: 600px) {
  .conv {
    font-size: 1rem;
  }
  .friendsName {
    font-size: 1.75rem;
  }
}
