.friendsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 15%;
}
.friendsTitle {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px rgb(7, 7, 7);
}
.friendsTitle button {
  color: var(--white);
  font-size: 1.5rem;
  border-radius: 0.35rem;
  padding-bottom: 0.25rem;
  width: 100%;
  border: none;
  cursor: pointer;
}
.selected {
  background: var(--yellow);
  transition: 500ms;
}
.notselected {
  background: none;
}
.friendsNames,
.groupNames {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  font-weight: 100;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px rgb(7, 7, 7);
  overflow: auto;
}
.friendsNames > button,
.groupNames > button {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 2.25rem;
  height: 1rem;
  background: none;
  color: var(--white);
  border: none;
  cursor: pointer;
  width: fit-content;
}
.friendsNames > form > input,
.groupNames > form > input {
  width: 100%;
  font-size: 1rem;
  background: var(--white);
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem;
  color: var(--blue);
}
.friendsNames > form > button,
.groupNames > form > button {
  width: 100%;
  margin: 0.75rem 0;
  padding: 0.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.25rem;
  background: var(--yellow);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.friends-groups-list {
  font-size: 1.25rem;
  list-style-type: none;
  color: var(--white);
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.friends-groups-list:hover {
  color: var(--yellow);
}

.friendsNames input:focus-visible,
.groupNames input:focus-visible {
  outline: 0.125rem solid var(--yellow);
}
.friendsTitle button:focus-visible {
  outline: 0.125rem solid var(--yellow);
}

/*FRIEND LIST TO CREATE GROUP*/
.invite-friends {
  margin-top: 0.75rem;
  font-size: 1.25rem;
}

.checkbox-container {
  display: flex;
  align-content: center;
  gap: 0.25rem;
  margin: 0.5rem 0;
  font-size: 1.25rem;

  color: var(--white);
}

.checkbox-container > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--white);
  border-radius: 0.25rem;
  border: 3px solid var(--white);
}

.checkbox-container > input:checked {
  background-color: var(--yellow);
}
