.loading {
  font-size: 4rem;
  color: var(--yellow);
  width: fit-content;
  margin: 6rem auto;
}

.chatContainer {
  height: 95%;
  color: var(--whites);
}

.content {
  display: flex;
  height: 100%;
}

.error-on-request {
  width: fit-content;
  margin: 4rem auto;
}
.error-on-request h1 {
  color: var(--yellow);
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.error-on-request p:nth-child(2) {
  color: var(--white);
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}
.error-on-request p:nth-child(3),
.error-on-request p:nth-child(4) {
  color: var(--white);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
