.FWchatapp {
  color: #af8e5b;
  padding: 0.5rem;
  font-size: 1.75rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.formContainer form {
  width: 40%;
  margin-top: 3rem;
  gap: 2rem;
  padding: 3rem 2.5rem;
  color: var(--white);
  border-radius: 0.75rem;
  border: 0.25rem solid var(--white);
  font-size: 1.5rem;
  background: var(--blue);
}

.formContainer input {
  margin-top: 0.25rem;
  font-size: 1.75rem;
  border-radius: 0.75rem;
  border: none;
  background: var(--white);
  padding: 0.5rem;
  color: var(--blue);
}
.input-requirements {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
/* .formContainer .valid-input {
  background: var(--white);
} */
.formContainer .not-valid-input {
  background: rgb(212, 102, 102);
}

.formContainer button {
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  font-size: 2rem;
  margin-top: 2rem;
  border-radius: 0.75rem;
  border: none;
  background: var(--yellow);
  color: var(--white);
  cursor: pointer;
}

.backToLogin {
  margin-top: 2.25rem;
  color: var(--yellow);
  text-decoration: none;
  font-size: 2rem;
  border-radius: 0.75rem;
  padding: 0rem 0.25rem;
}

.or {
  font-size: 1.75rem;
  margin: 1.75rem;
  color: var(--white);
}

.signupButton {
  color: var(--yellow);
  text-decoration: none;
  font-size: 3rem;
  border-radius: 0.75rem;
  padding: 0rem 0.25rem;
}

.loginError {
  height: 1rem;
  font-size: 1rem;
  color: var(--yellow);
}

.formContainer input:focus-visible {
  outline: 0.25rem solid var(--yellow);
}
.formContainer button:focus-visible,
.backToLogin:focus-visible,
.signupButton:focus-visible {
  outline: 0.25rem solid var(--white);
}

.errorMsg {
  font-size: 1rem;
  list-style-type: none;
  color: var(--yellow);
  margin-bottom: 0.5rem;
}

/*ERROR PAGE*/
.errorPage {
  padding: 0.5rem;
}
.errorPage h1 {
  color: var(--white);
  padding: 0.25rem;
}

@media (max-width: 1200px) {
  .formContainer form {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .formContainer form {
    width: 60%;
  }
  .formContainer input {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .formContainer form {
    width: 98%;
  }
  .formContainer input {
    font-size: 1.25rem;
  }
}
