/*HEADER*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: var(--yellow);
  padding: 0.5rem;

  height: 5%;
}
.navbar button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 0.25rem;
}
.navbar svg {
  height: 2.5rem;
  fill: var(--yellow);
  flex-shrink: 0;
  padding: 0;
}
.navbar button:first-child {
  display: none;
}
/**/
.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background: var(--yellow);
  overflow: hidden;
  border-radius: 0.5rem;
  width: 12rem;
  position: fixed;
  top: 1px;
  right: -12rem;
  transition: 500ms ease-out;
  box-shadow: 0px 0px 12px rgb(0, 0, 0);
}
.nav-menu.active {
  right: 1px;
  transition: 500ms ease-out;
}
.btn-close-navbar,
.btn-to-home,
.btn-to-profile,
.btn-to-logout {
  color: var(--white);
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
}
.btn-close-navbar,
.btn-to-logout {
  background: none;
}
.btn-to-home,
.btn-to-profile,
.btn-to-logout {
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.btn-to-home:hover,
.btn-to-profile:hover,
.btn-to-logout:hover {
  background: var(--blue);
}
.btn-close-navbar {
  margin-left: auto;
  width: fit-content;
  margin-bottom: 1rem;
}
.btn-close-navbar:hover {
  color: var(--blue);
}
.btn-to-home,
.btn-to-profile {
  text-decoration: none;
}
.btn-to-logout {
  display: flex;
}

@media (max-width: 1200px) {
  .navbar button:first-child {
    display: initial;
  }
}
