.profile-container {
  width: 50%;
  margin: auto;
  color: var(--white);
  padding: 0.5rem;
}
.username-profile {
  display: flex;
  width: fit-content;
  margin: 2rem 0;
  gap: 0.75rem;
  font-size: 2rem;
}
.username-profile :last-child {
  color: var(--yellow);
}
.friendReq-container,
.groupRec-container {
  margin: 1.5rem 0;
}
.friend-group-requests,
.friend-group-requests {
  font-size: 1.5rem;
}
.no-request {
  font-size: 1rem;
  font-weight: 100;
  margin: 0.5rem 0 3rem 0.5rem;
}
.friendsReq-list {
  background: #179dac;
}
.groupsReq-list {
  background: #651da8;
}
.friendsReq-list,
.groupsReq-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0.25rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.friendsReq-list-name,
.groupReq-list-name,
.groupReq-list-groupName {
  font-size: 1.25rem;
  overflow-wrap: anywhere;
}
.friendReq-groupReq-buttons {
  display: flex;
  gap: 0.5rem;
}
.friendReq-groupReq-buttons button {
  width: 8rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--white);
  color: var(--blue);
  cursor: pointer;
}
.friendReq-groupReq-buttons button:hover {
  background: rgb(209, 209, 209);
}

@media (max-width: 1300px) {
  .profile-container {
    width: 70%;
  }
  .friendReq-groupReq-buttons button {
    width: 6rem;
  }
}
@media (max-width: 900px) {
  .friendsReq-list,
  .groupsReq-list {
    flex-direction: column;
    align-items: start;
  }
  .friendReq-groupReq-buttons {
    margin: auto;
    width: 100%;
  }
  .friendReq-groupReq-buttons button {
    flex-grow: 1;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .profile-container {
    min-width: 100%;
  }
}
